.footer {
  position: relative;
  height: 122px;
  width: calc(100% - 32px);
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #ffe7d3;
  background-color: #7b7671;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.4);
}

.business-info {
  display: flex;
  font-size: 28px;
  font-weight: 400;
  gap: 12px;

  img:hover {
    cursor: pointer;
  }
}

.business-info img {
  width: 80px;
  height: 80px;
  border: solid 2px #ffe7d3;
  border-radius: 5px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-icon {
  width: 48px;
  height: auto;
  border: solid 2px #ffe7d3;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.legal-links {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;

    a {
      text-decoration: none;
      color: #ffe7d3;
      transition: color 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        text-shadow: 1px 1px 2px #1c1c1c;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
