<section class="about" id="about">
  <!-- Picture of VA -->
  <div class="profile-img-container">
    <img class="profile-img" src="../../assets/images/profile-img.webp" alt="img Vanessa" />
  </div>

  <!-- Bio Section -->
  <div class="bio-section">
    <h2>Hi, ich bin Vanesa – auch bekannt als <em>Madame Pearls</em></h2>
    <p>
      Jedes Armband und jede Kette in meinem Shop fertige ich mit viel Liebe zum Detail – von der ersten Idee bis zum
      letzten Schliff.
    </p>
    <p>
      Die Inspiration zu meinem Schmuck kam mir vor zwei Jahren auf einer Reise nach Santorini mit meinem Mann. Als er sich eine Perlenkette kaufte.
    </p>
    <p>
      Noch im Urlaub begann ich, nach Lavaperlenhändlern zu suchen und meine ersten Entwürfe zu gestalten. Aus dieser spontanen
      Idee ist inzwischen meine große Leidenschaft entstanden: handgefertigter Schmuck, der Charakter und Persönlichkeit
      ausdrückt – für Menschen, die das Besondere lieben.
    </p>
  </div>

  <!-- Scroll Indicator -->
  <div class="scroll-indicator">
    <div class="line"></div>
    <div class="arrow" (click)="scrollToContact()">&#x2193;</div>
    <div class="line"></div>
  </div>
</section>