<section class="about" id="about">
  <!-- Picture of VA -->
  <div class="profile-img-container">
    <img
      class="profile-img"
      src="../../assets/images/profile-img.webp"
      alt="img Vanessa"
    />
  </div>
  
  <!-- Bio Section -->
  <div class="bio-section">
    <h2>Hi, ich bin Vanessa – aka <em>Madame Pearls</em></h2>
    <p>
      Ich stecke hinter jeder Kette und jedem Armband in meinem Shop. Die Idee,
      eleganten, einzigartigen und gleichzeitig leistbaren Schmuck herzustellen,
      kam mir vor zwei Jahren – auf einer Reise nach Santorini mit meinem Mann.
    </p>
    <p>
      Dort kaufte er eine Perlenkette aus Vulkanperlen, doch der Preis war recht
      hoch. Also dachte ich mir:
      <em
        >Das kann ich vielleicht selbst machen – und dabei meine eigenen
        Vorstellungen einfließen lassen.</em
      >
    </p>
    <p>
      Noch während des Urlaubs begann ich, mich nach Lavaperlen-Händlern
      umzusehen – und setzte vor Ort meine ersten Entwürfe um. So entstand aus
      einer spontanen Idee meine große Leidenschaft: handgefertigter Schmuck mit
      Charakter und Persönlichkeit.
    </p>
  </div>

  <!-- Scroll Indicator -->
  <div class="scroll-indicator">
    <div class="line"></div>
    <div class="arrow" (click)="scrollToContact()">&#x2193;</div>
    <div class="line"></div>
  </div>
</section>
