<nav class="navbar">
    <!-- Left: Logo/Icon -->
    <div class="left-header-container">
        <img class="logo" src="../../assets/images/logo 3.webp" alt="Logo">
        <p>Madame<br>Pearls</p>
    </div>


    <!-- Center: Navigation Menu -->
    <ul class="nav-links">
        <li class="spacer">•</li>
        <li><a href="#home">Home</a></li>
        <li class="spacer">•</li>
        <li><a href="#collections">Collections</a></li>
        <li class="spacer">•</li>
        <li><a href="#about">About</a></li>
        <li class="spacer">•</li>
        <li><a href="#contact">Contact</a></li>
        <li class="spacer">•</li>
    </ul>

    <!-- Right: Language Selector -->
    <div class="lang-container">
        <div class="custom-select" (click)="toggleDropdown()">
            {{ selectedLanguageLabel }}
            <ul *ngIf="dropdownOpen" class="dropdown-options">
                <li (click)="selectLanguage('en')">🇺🇸 English</li>
                <li (click)="selectLanguage('de')">🇩🇪 Deutsch</li>
                <li (click)="selectLanguage('gr')">🇬🇷 Ελληνικά</li>
                <li (click)="selectLanguage('hr')">🇭🇷 Hrvatski</li>
            </ul>
        </div>
    </div>
</nav>