<nav class="navbar">
    <!-- Left: Logo/Icon -->
    <div class="left-header-container">
        <img class="logo" id="logo" (click)="scrollToHome()" src="../../assets/images/logo/logo.webp" alt="Logo">
        <p>Madame<br>Pearls</p>
    </div>

    <!-- Center: Navigation Menu -->
    <ul class="nav-links">
        <li class="spacer">•</li>
        <li><a href="#home" (click)="onNavbarButtonClick()">Home</a></li>
        <li class="spacer">•</li>
        <li><a href="#collection" (click)="onNavbarButtonClick()">Collection</a></li>
        <li class="spacer">•</li>
        <li><a href="#about" (click)="onNavbarButtonClick()">About</a></li>
        <li class="spacer">•</li>
        <li><a href="#contact" (click)="onNavbarButtonClick()">Contact</a></li>
        <li class="spacer">•</li>
    </ul>

    <!-- Right: Language Selector -->
    <div class="lang-container">
        <div class="custom-select" (click)="toggleDropdown()">
            {{ selectedLanguageLabel }}
            <ul *ngIf="dropdownOpen" class="dropdown-options">
                <li (click)="selectLanguage('en')">🇺🇸 English</li>
                <li (click)="selectLanguage('de')">🇩🇪 Deutsch</li>
                <li (click)="selectLanguage('gr')">🇬🇷 Ελληνικά</li>
                <li (click)="selectLanguage('hr')">🇭🇷 Hrvatski</li>
            </ul>
        </div>
    </div>
</nav>