<section class="contact" id="contact">
  <div class="scroll-indicator">
    <div class="line"></div>
    <div class="arrow" (click)="scrollToFooter()">&#x2193;</div>
    <div class="line"></div>
  </div>

  <div class="contact-content">
    <div class="contact-intro">
      <h2>Contact Me</h2>
      <p>I am happy to hear from you!</p>
      <p>Have a Bracelet in mind</p>
      <p>Or a question about our pieces?</p>
      <p>Use the form to reach out — I’d love to hear from you!</p>
      <p>Looking for handcrafted jewelry? Let's talk!</p>
    </div>

    <div class="contact-form">
      <h2>Send a Message</h2>
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your Name" ngModel required />
        <input type="email" name="email" placeholder="Your Email" ngModel required />
        <textarea class="message-textarea" name="message" placeholder="Your Message" rows="5" ngModel required></textarea>

        <input type="file" name="attachments" (change)="onFileChange($event)" accept="image/*" multiple />

        <div class="file-preview-container" *ngIf="selectedFiles.length > 0">
          <div *ngFor="let file of selectedFiles; let i = index" class="file-item">
            <div class="file-info">
              <p>{{ file.name }}</p>
              <button type="button" (click)="removeFile(i)" aria-label="Remove file">🗑️</button>
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="!contactForm.form.valid">
          Contact Me :)
        </button>
      </form>
    </div>
  </div>
</section>