@font-face {
    font-family: 'Cormorant SC';
    src: url('assets/fonts/Cormorant_SC/CormorantSC-Regular.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-Bold.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-Medium.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-SemiBold.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body, html {
    margin: 0;
    font-family: 'Cormorant SC', serif;
    scroll-behavior: smooth;
}

/* Custom Scrollbar - Hidden but keeps scrolling */
::-webkit-scrollbar {
    width: 0px; /* Hides the scrollbar */
    height: 0px;
}

/* Hide Scrollbar Arrows */
::-webkit-scrollbar-button {
    display: none;
}

/* Hide Scrollbar Track (Background) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Hide Scrollbar Thumb (Moving part) */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

/* Firefox: Hide scrollbar but keep scrolling */
* {
    scrollbar-width: none; /* Removes scrollbar in Firefox */
    scrollbar-color: transparent transparent;
}