@font-face {
    font-family: 'Cormorant SC';
    src: url('assets/fonts/Cormorant_SC/CormorantSC-Regular.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-Bold.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-Medium.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-SemiBold.ttf') format('truetype'),
         url('assets/fonts/Cormorant_SC/CormorantSC-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Cormorant SC', serif;

  }
  body, html {
    margin: 0;
}

/* Custom Scrollbar - Thin & Modern */
::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
}

/* Hide Scrollbar Arrows */
::-webkit-scrollbar-button {
    display: none; /* Removes up/down or left/right arrows */
}

/* Scrollbar Track (Background) */
::-webkit-scrollbar-track {
    background: #1c1c1c; /* Dark background */
    border-radius: 10px;
}

/* Scrollbar Thumb (Moving part) */
::-webkit-scrollbar-thumb {
    background: #ffe7d3; /* Light moving part */
    border-radius: 10px;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 231, 211, 0.8); /* Slightly transparent on hover */
}

/* Firefox Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffe7d3 #1c1c1c;
}
